<!DOCTYPE html>
<html>
    <head>
         <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
        <div class='jumbotron'>
            <h1>Login Page</h1>
            {% if form.errors %}
                Wrong username or password!
            {% endif %} 
            <form action="{% url 'login' %}" method='POST'>
                {% csrf_token %}
                    {{form.as_p}}
                    <input type='submit' class='btn btn-primary' value='Login'>
                    <input type='hidden' name='next' value="{{next}}">
            </form>
        </div>    
    </body>
</html>