body {
    color: #777;
}

a {
    color: #006699;
}

.page-link {
    color: #006699;
}

.page-item.active .page-link {
    background-color: #eb6927;
}

.page-item.disabled {
    color: #fff;
}

.col-footer {
    background-color: #eb6927;
}

p {
    color: #777; 
}

.table thead th {
    color: #777; 
}

h1 {
    color: #333333;
}

div.form {
    max-width:500px;
    color: #333333;
}

label {
    color: #333333;
}

.form-control {
    color: #333333;
}