body {
    color: #777;
}

a {
    color: #006699;
}

.page-link {
    color: #006699;
}

.page-item.active .page-link {
    background-color: #eb6927;
}

.page-item.disabled {
    color: #fff;
}

.col-footer {
    background-color: #eb6927;
}

p {
    color: #777; 
}