{% extends 'assets_app/base.html' %}

{% block content %}


{% load mptt_tags %}
            <h1>Asset Form</h1>
            <form class='post-form' method='POST'>
                {% csrf_token %}
                <p>
                    Category: <select name="category" id="id_category" required>
                        
                        {% full_tree_for_model assets_app.Category as category %}
                        <option value="{{initial_category.id}}">+--{{initial_category.name}}</option>
                            {% for i in category %}
                                {% if i.selectable == "Yes" %}
                                    <option value="{{i.id}}">+--{{i.name}}</option>
                                {% else %}
                                    <option value="{{i.id}}" disabled>{{i.name}}</option>
                                {% endif %}
                            {% endfor %}
                    </select>
                </p>
                {{form.as_p}}

                <div class='glyphicon glyphicon-plus'>
                    <button type='submit' class='btn btn-secondary'>Save</button>

                    <button type='button' class='btn btn-secondary btn-warning' onClick="window.history.back();return false;">Cancel</button>
                </div>
            </form>

{% endblock %}