{% extends 'assets_app/base.html' %}

{% block content %}

  
            <h1>Assets List</h1>
                        <table class="table table-hover table-bordered table-sm">
                            <thead>
                                <tr align="center">
                                    <th><a href="{% if orderby == 'inventory_number' %}?page={{ page_obj.number }}&orderby=inventory_number{% else %}?page={{ page_obj.number }}&orderby=inventory_number{% endif %}">Inventory Number</a></th>
                                    <th><a href="{% if orderby == 'inventory_number' %}?page={{ page_obj.number }}&orderby=serial_number{% else %}?page={{ page_obj.number }}&orderby=serial_number{% endif %}">Serial Number</a></th>
                                    <th><a href="{% if orderby == 'inventory_number' %}?page={{ page_obj.number }}&orderby=category{% else %}?page={{ page_obj.number }}&orderby=category{% endif %}">Category</a></th>
                                    <th><a href="{% if orderby == 'inventory_number' %}?page={{ page_obj.number }}&orderby=location{% else %}?page={{ page_obj.number }}&orderby=location{% endif %}">Location</a></th>
                                    <th><a href="{% if orderby == 'inventory_number' %}?page={{ page_obj.number }}&orderby=vendor{% else %}?page={{ page_obj.number }}&orderby=vendor{% endif %}">Vendor</a></th>
                                    <th><a href="{% if orderby == 'inventory_number' %}?page={{ page_obj.number }}&orderby=state{% else %}?page={{ page_obj.number }}&orderby=state{% endif %}">State</a></th>
                                    <th><a href="{% if orderby == 'inventory_number' %}?page={{ page_obj.number }}&orderby=legal_entity{% else %}?page={{ page_obj.number }}&orderby=legal_entity{% endif %}">Legal Entity</a></th>
                                    <th><a href="{% if orderby == 'inventory_number' %}?page={{ page_obj.number }}&orderby=host_name{% else %}?page={{ page_obj.number }}&orderby=host_name{% endif %}">Host Name</a></th>
                                    <th><a href="{% if orderby == 'inventory_number' %}?page={{ page_obj.number }}&orderby=added_on{% else %}?page={{ page_obj.number }}&orderby=added_on{% endif %}">Added On</a></th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for asset in asset_list %}
                                <tr>
                                    <td><a href="{% url 'asset_detail' pk=asset.pk %}"><b>{{ asset.inventory_number }}</b></a></td>
                                    <td>{{ asset.serial_number }}</td>
                                    <td>{{ asset.category }}</td>
                                    <td>{{ asset.location }}</td>
                                    <td>{{ asset.vendor }}</td>
                                    <td>{{ asset.state }}</td>
                                    <td>{{ asset.legal_entity }}</td>
                                    <td>{{ asset.host_name }}</td>
                                    <td>{{ asset.added_on|date:"D M Y H:i:s"}}</td>
                                    <td align="center">
                                        
                                        <a href='{% url 'asset_detail' pk=asset.pk %}'>
                                        <i class="fas fa-eye"></i>
                                        View   
                                        </a>
                                        |
                                        <a href='{% url "asset_edit" pk=asset.pk %}'>
                                        <i class="fas fa-pen"></i>
                                        Edit   
                                        </a>
                                        
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                            </table>
 
            {% if is_paginated %}
            <ul class="pagination">
                {% if page_obj.has_previous %}
                <li class="page-item"><a href="{% if orderby == 'inventory_number' %}?page={{ page_obj.previous_page_number }}{% else %}?page={{ page_obj.previous_page_number }}&orderby={{orderby}}{% endif %}" class="page-link">&laquo;&laquo;</a></li>
                {% else %}
                <li class="page-item disabled"><span>&laquo;&laquo;</span></li>
                {% endif %}
                {% for i in paginator.page_range %}
                {% if page_obj.number == i %}
                    <li class="page-item active" aria-current="page"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
                {% else %}
                    <li class="page-item"><a href="{% if orderby == 'inventory_number' %}?page={{ i }}{% else %}?page={{ i }}&orderby={{orderby}}{% endif %}" class="page-link">{{ i }}</a></li>
                {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                <li class="page-item"><a href="{% if orderby == 'inventory_number' %}?page={{ page_obj.next_page_number }}{% else %}?page={{ page_obj.next_page_number }}&orderby={{orderby}}{% endif %}" class="page-link">&raquo;&raquo;</a></li>
                {% else %}
                <li class="page-item disabled"><span>&raquo;&raquo;</span></li>
                {% endif %}
            </ul>
            {% endif %}




{% endblock %}