<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
       <div class='jumbotron'> 
        <div class='container'>
            <h1>Asset Details</h1>
            {{ asset.inventory_number }}<br>
            {{ asset.model_name }}<br>
            {{ asset.category }}<br>
            {{ asset.location }}<br>
            {{ asset.serial_number}}<br>
            {{ asset.vendor}}<br>
            {{ asset.state }}<br>
            {{ asset.aquisition_date }}<br>
            {{ asset.warranty_expiry_date }}<br>
            {{ asset.added_on }}<br>
            {{ asset.modified_on}}<br>
            {{ asset.legal_entity }}<br>
            {{ asset.invoice_number }}<br>
            {{ asset.host_name  }}<br>
            {{ asset.comments  }}<br>
            Modified_on: {{ asset.modified_on  }}<br>
            Added_on: {{ asset.added_on  }}<br>
            Change: {{ change.asset_id }}<br>
            <div class='container'>
                <h2>Changes history:</h2>
                {% for obj in change %}
                    <li>{{ obj.change_details }}</li>
                {% endfor %}
            </div>
            <a class='btn btn-primary' href='{% url "asset_edit" pk=asset.pk %}'>
                <span class='glyphicon glyphicon-plus'>Edit</span>
            </a>
            <a class='btn btn-primary' href='{% url "asset_delete" pk=asset.pk %}'>
                <span class='glyphicon glyphicon-plus'>Delete</span>
            </a>
        </div>
     </div>
    </body>
</html>